TELEGRAM_BOT_TOKEN=токен_бота
YANDEX_API_KEY=ключ_яндекс
YANDEX_FOLDER_ID=folder_id
YANDEX_MODEL=yandexgpt-lite
DB_HOST=localhost
DB_PORT=55555
DB_NAME=chatbot_db
DB_USER=chatbot_user
DB_PASSWORD=пароль
MAX_API_URL=
MAX_API_KEY=
DEBUG=True
LOG_LEVEL=INFO